<% if @persons_result %>
  <div class="col-sm-3">
    <button class="btn btn-secondary" disabled>
      Resultados: <span class="badge bg-warning"><%= @total %></span>
    </button>
  </div>
  <br/>
  <div>
    <%= render partial: 'list', locals: {persons: @persons_result } %>
  </div>
<% else %>
  <h5>Nenhum resultado encontrado.</h5>
<% end %>
 