<h3>Preencha os campos abaixo para realizar uma busca</h3>
<span>OBS: Não é necessário preencher todos os campos</span>

<%= render 'form' %>

<div class="row link-back">
  <% if cookies[:page] == "1" or cookies[:page] == "" %>
    <%= link_to '<< Voltar', root_path, class: "back" %>
  <% else %>
    <%= link_to '<< Voltar', "/?page=#{cookies[:page]}", class: "back" %>
  <% end %>
</div>

<hr/>

<%= render 'result' %>

