<h3>Preencha os campos abaixo para realizar uma busca</h3>
<span>OBS: Não é necessário preencher todos os campos</span>

<%= render 'form' %>

<div class="row link-back">
  <%= link_to '<< Voltar', root_path %>
</div>

<hr/>

<%= render 'result' %>

<%= cookies[:page] %>