<div class="row">
  <h3>Lista de todas as pessoas</h3>
  <div class="col-sm-3">
    <%= link_to persons_busca_path, class: 'link_busca' do %>
      <button type="button" class="btn btn-secondary">Realizar uma busca</button>
    <% end %>
  </div>
  <%= render partial: 'list', locals: {persons: @persons } %>
</div>